#parse("base.html")
#@mainLayout()
<h1>Buy Clothes</h1>
<div>
    <a href="/">Home</a>

    <form method="post" action="">
        <h2>Chaussure 1</h2>
        <select name="shoe_1">
            <option value="botte">Botte</option>
            <option value="sandale">Sandale</option>
        </select>

        <h2>Chaussure 2</h2>
        <select name="shoe_2">
            <option value="botte">Botte</option>
            <option value="sandale">Sandale</option>
        </select>

        <h2>T-Shirt</h2>
        <select name="sweater">
            <option value="longues">Longues</option>
            <option value="colV">ColV</option>
        </select>
        <br>

        <button type="submit" value="BUY">Buy</button>
    </form>
</div>
#end
