#parse("base.html")
#@mainLayout()
<a href="/">Home</a><br>
<a href="/dashboard">Dashboard</a><br>
<h1>Order number #$id</h1>
<div>

    <div>
        <h2>Current State: $order.state</h2>
        <select id="state_select"  onchange="location = this.value;">
            #foreach ($s in $order.State.values())
                #if ($s == $order.state)
                    <option  selected value="/order/$id?action=$s">$s</option>
                #else
                    <option value="/order/$id?action=$s">$s</option>
                #end
            #end
        </select>
    </div>

    <div>
        <h2>Commande</h2>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
            </thead>
        <tbody>
        #foreach ($c in $order.getClothesList())
        <tr>
            <td>$c.getTypeName()</td>
            <td>$c.getName()</td>
            <td>$c.getPrice()</td>
        </tr>
        #end
        <tr>

        </tr>
        </tbody>
        </table>
    </div>
</div>
#end
